<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav">

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a routerLink=""><img src="../../assets/logo.png" /></a>
      <span class="spacer"></span>
      <a routerLink="">Home</a>
      <a routerLink="details">Airlines details</a>
      <a routerLink="history">Flight history</a>
      <a routerLink="flights">Manage Flights</a>
      <a routerLink="userList">Users List</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
