.report-container {
  width: 100%;
}

.filterItem {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 180px;
}

.historyTable {
  width: 100%;
  margin-top: 5px;
  table-layout: fixed;
}

.historyTableTd {
  font-size: 12px;
  margin: 0 3px 0 3px;
}

.historyTableTimeStampTd {
  font-size: 12px;
  margin: 0 3px 0 3px;
  word-wrap: break-word;
}

.historyTableTh {
  justify-content: center;
  margin: 0 3px 0 3px;
}
