<div class="users-table-container">
  <div *ngIf="errors" class="users-errors mat-error ng-star-inserted">
    <strong>Errors occurred: </strong> {{errors}}
  </div>
  <app-users-add-user [click]="createNew"></app-users-add-user>
  <table mat-table [dataSource]="usersDataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
      <td mat-cell *matCellDef="let user"><div class="userId-label-text-ellipsis" matTooltip="{{user.userId}}"> {{user.userId}} </div></td>
    </ng-container>

    <ng-container matColumnDef="activated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activated</th>
      <td mat-cell *matCellDef="let user"> {{user.isEnabled}} </td>
    </ng-container>

    <ng-container matColumnDef="admin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin</th>
      <td mat-cell *matCellDef="let user"> {{user.isAdmin}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-button type="button"
                aria-label="Edit"
                mat-icon-button
                (click)="update(user)">
          <mat-icon aria-label="Side nav toggle icon">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-button type="button"
                aria-label="Delete"
                mat-icon-button
                (click)="delete(user.id)">
          <mat-icon aria-label="Side nav toggle icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="id" class="hiddenField">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">{{row.id}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <app-users-add-user [click]="createNew"></app-users-add-user>
</div>
